/*----------------------------ESTRUCTURACIONES FIJAS*/
:root {
    --text-color: hsl(0, 0%, 100%);
    --text-title: hsl(51, 100%, 50%);
    --background-boton: hsl(60, 100%, 50%);
    --clr-black: #1c1c1c;
    --clr-gray: #05557d;
    --clr-gray-2: #e8dd0b;
    --clr-white: rgba(5, 99, 120, 0.5);
    --clr-white-2: rgba(8, 77, 134, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

/*FUENTES*/
@font-face {
    font-family: 'letra star wars';
    src: url('./fonts/simbolo.ttf') format('truetype');
}

@font-face {
    font-family: 'letra titulo';
    src: url('./fonts/titulo.ttf') format('truetype');
}

@font-face {
    font-family: 'letra texto general' ;
    src: url('./fonts/generico.otf') format('truetype');
}


/*---------------------------- VIDEO FONDO DE LA PAGINA */
.video-background {
    position: fixed; /* Fija el video para que siempre esté en el fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000; /* Coloca el video detrás del contenido */
    overflow: hidden;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

main {
    position: relative;
    z-index: 1; 
    justify-content: center;
    scroll-behavior: smooth;
    /* scroll-padding-bottom:50rem; */
}

/*----------------------------MENU*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: rgba(17, 16, 20, 0.6);
    position: sticky;
    height: 110px;
    width: 100%;
    top: .01vw;
    z-index: 99;
    font-family: "letra titulo";
}

.header__list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.header__item{
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__link{
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    text-align: center; 
    flex-direction: column; 
    align-items: center; 
    transition-duration: 0.5s;
}

a{
    text-decoration: none; 
    color: inherit;
}

.header__link:hover{
    color: yellow;
    transition-duration: 1s;
    filter: sepia(1) saturate(10) brightness(1.2);
}

.Logos{
    width: 4rem;
    height: auto;
}

.submenu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: rgba(33, 32, 41, 0.8);
    padding: 0.5rem;
    list-style: none;
    margin: 0;
    float: left;
    font-family:Arial, Helvetica, sans-serif;
}

.submenu__item {
    margin: 0.5rem 0;
}

.submenu__link {
    color: #fff;
    text-decoration: none;
}

.submenu__link:hover {
    color: yellow;
    transition-duration: 1s;
}

.header__item:hover .submenu {
    display: block;
}



.opc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.menu-icon__line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.menu-toggle {
    display: none;
}



/* ----------------------------PAGINA 1 TITULO Y PARRAFO */
.pagina_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1{
    font-family: 'letra star wars';
    font-size: 25em;
    color: white;
    text-align: center;
    align-self: center;
    margin-top: -15vw;
    transition: animation 3s ease-in-out, filter .5s ease-in-out;
}
h1:hover{
    filter: drop-shadow(3px 3px 5px rgb(255, 255, 0));
    white-space: nowrap;
    overflow: hidden;
    animation: scroll-left 5s ease-in-out infinite alternate;
}
@keyframes scroll-left {
    0% { transform: translateY(0%); }
    50% { transform: translateY(8%); }
    100% { transform: translateY(-10%); }
}

.parrafo_1{
    margin-top: -5vw;
    text-align: center;
    font-size: 2em;
    font-family: 'letra titulo'
}

/* ---------------------------- PAGINA 2 SECCIONES DE BUSQUEDA DIVIDIDAS */




.pagina_2{
    padding: 2rem;
    max-width: 10000px;
    margin: 0 auto;
}


#todos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


#descripcion-Starwar{
    /* overflow: hidden; */
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;
    -webkit-overflow-scrolling: touch;
}


#listabusqueda{
    height: 100vh;
    overflow: scroll ;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #007 yellow;
    -webkit-overflow-scrolling: touch;
}

h3{
    font-family: 'letra titulo'
}

/* ----------------- Descripcion de busqueda ----------- */

.star-Busqueda{
    display: grid;
    grid-template-rows: 0.1fr .2fr .7fr;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25);
    padding-block: 1rem;
    text-transform: uppercase;
}
.busqueda-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.descripcion-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}
.descripcion-imagen img{
    width: 100%;
    max-width: 30rem;
}
.busqueda-descripcion{
    display: flex;
    flex-direction: column;
    gap:.5rem ;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.descripcion-de-busqueda{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}
.descripcion-de-busqueda::first-letter{
    text-transform: uppercase;
}

/* --------------------- */








.busqueda-todos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


.tarjeta{
    border-radius: 1rem;
    background-color: var(--clr-white-2);
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,.25);
    padding-block: 1rem;
    margin-inline: 0rem 2rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    
}
.busqueda-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 800;
    color: var(--clr-gray);
    z-index: -1;
}
.busqueda-imagen{
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}
.busqueda-imagen img{
    width: 100%;
    max-width: 6rem;
}
.tarjeta-info{
    gap:.5rem ;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.nombre-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem;
    margin-top: 1vh;
}
/* .pokemon-id{
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
} */


.busqueda-nombre{
    font-family: 'letra titulo';
    font-size: 1.1rem;
    font-weight: 100;
    background-color: var(--clr-gray-2);
    color: var(--clr-black);
    padding: .2rem .2rem;
    border-radius: 100vmax;
}


.contenedor-primer-dato{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem;
    
}
.primer-dato{
    font-family: 'letra titulo';
    font-size: 1rem;
    /* font-weight: 500; */
    background-color:#007;
    
    padding: .25rem .5rem;
    border-radius: 100vmax;
    letter-spacing: 1.2px;
}


.contenedor-segundo-dato{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem;
}
.segundo-dato{
    font-family: 'letra titulo';
    font-size: 1rem;
    /* font-weight: 500; */
    background-color:var(--clr-gray-2);
    color: var(--clr-black);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    letter-spacing: 1.2px;
}


/*---------------------------FOOTER*/
.footer {
    background-color: rgba(1, 10, 17, 0.6);
    color: #fff; 
    padding: 8px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer__logo img {
    width: 50px; 
}


.footer__links h3 {
    margin: 0;
}

.footer__links a {
    color: #fff;
    text-decoration: none;
}

.footer__links a:hover {
    text-decoration: underline;
}



.footer__social ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__social ul li {
    margin: 0 10px;
}

.footer__social a {
    color: #fff;
    text-decoration: none;
}

.footer__social a:hover {
    text-decoration: underline;
}

.ig{
    width: 1.5vw;
}
.fb{
    width: 0.8vw
}

/*----------------------------LIMITE DE PANTALLA para menos de 300 px*/

.advertencia_celular {
    display: none;
}
.mensaje_advertencia_celular{
    text-align: center;
    padding: 1vw;
    background-color: #ffa200;
    color: #000000;
    font-size: 1.5em;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 55%;
    border: 2px dashed #000;
}
div.advertencia_celular img{
    background-attachment: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
} 





/* ----------------------------RESPONSIVE MENU */

@media (max-width: 715px) {
    header{
        margin-top: 0;
    }
    .header__list {
        display: none;
        flex-direction: column;
        background-color: rgba(17, 16, 20, 0.9);
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 60px;
        margin-top: -1rem;
    }

    .header__item {
        margin: 0.5rem 0;
    }

    .header__link {
        font-size: 1.5rem;
    }

    .menu-icon {
        display: flex;
    }

    .menu-toggle:checked + .menu-icon + .header__list {
        display: flex;
    }

    .submenu {
        position: static;
        background-color: transparent;
        padding: 0;
        height: 100vw;
    }

    .submenu__item {
        margin: 0.5rem 1rem;
    }

    .submenu__link {
        color: #fff;
    }
/* ----------------------------RESPONSIVE PAGINA 1 */
    .pagina_1{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    h1{
        font-size: 55vw;
        align-self: center;
    }
}



/* ----------------------------RESPONSIVE PAGINA 2 */

@media screen and (max-width: 715px){
    #todos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


@media screen and (min-width: 1010px){
    .busqueda-todos{
        grid-template-columns: 1fr 1fr;
    }
    .tarjeta{
        margin-inline: 0rem 0rem;
    }
}
@media screen and (min-width: 1392px){
    .busqueda-todos{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tarjeta{
        margin-inline: 0rem 0rem;
    }


}




/*----------------------------RESPONSIVE MEDIA LIMITE DE PANTALLA para menos de 300 px*/
@media (max-width: 330px) {
    .advertencia_celular {
        display: block;
    }
    body > :not(.advertencia_celular) {
        display: none;}
}







/*----------------------------RESPONSIVE FOOTER*/
@media (max-width: 715px) {
    .footer__social ul {
        flex-direction: column;
        align-items: center;
    }

    .footer__social ul li {
        margin: 1px 0;
    }
    .ig{
        width: 5vw;
    }
    .fb{
        width: 3vw
    }
}







